<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="RestAssured API Testing Suite" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.api.testing.utils.TestReportListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="API Tests">
        <classes>
            <class name="com.api.testing.tests.GetRequestTest"/>
            <class name="com.api.testing.tests.PostRequestTest"/>
            <class name="com.api.testing.tests.PutPatchRequestTest"/>
            <class name="com.api.testing.tests.DeleteRequestTest"/>
            <class name="com.api.testing.tests.JsonDataProviderTest"/>
            <class name="com.api.testing.tests.HardcodedDataTest"/>
            <class name="com.api.testing.tests.ResponseLoggingAndAssertionTest"/>
            <class name="com.api.testing.tests.SchemaValidationTest"/>
            <class name="com.api.testing.tests.ChainRequestTest"/>
            <class name="com.api.testing.tests.EnvironmentTest"/>
            <class name="com.api.testing.tests.PojoTest"/>
            <class name="com.api.testing.tests.PojoCollectionsTest"/>
            <class name="com.api.testing.tests.BrokenLinksTest"/>
            <class name="com.api.testing.tests.AllureReportingTest"/>
        </classes>
    </test>
</suite>
